# GPIO1
#                                                  +---+
# +----------+----------+----------+----------+----+   +----
# | in_mclk  | in_sclk  | in_fclk  | in_din   |
# +----------+----------+----------+----------+-------------  ...
# | out_mclk | out_sclk | out_fclk | out_dout |
# +----------+----------+----------+----------+-------------

# set_io --warn-no-port in_reset K11  # BUT1

set_io --warn-no-port in_mclk G3
set_io --warn-no-port in_sclk E2
set_io --warn-no-port in_fclk H5
set_io --warn-no-port in_din E3

set_io --warn-no-port out_mclk F3
set_io --warn-no-port out_sclk H3
set_io --warn-no-port out_fclk F2
set_io --warn-no-port out_dout H6
