//Part Number: GW1NR-LV9QN88PC6/I5

//IO_LOC "clk" 52;

IO_LOC "in_reset" 13;

IO_LOC "in_mclk" 16;
IO_LOC "in_sclk" 15;
IO_LOC "in_fclk" 27;
IO_LOC "in_din" 28;

IO_LOC "out_mclk" 19;
IO_LOC "out_sclk" 29;
IO_LOC "out_fclk" 30;
IO_LOC "out_dout" 31;
